
.service__container {
  min-height: 530px;
  position: relative;
  width: 100%;
}
.service__wrapper {
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__container h3 {
  text-align: left;
  padding: 20px 10px 20px 20px;
  border-bottom: 1px dashed rgba(221, 221, 221, 0.5);
  font-size: 15px;
  font-weight: 600;
}
.service__list {
  width: 100%;
}
.service__list li {
  float: left;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__list li a {
  color: #333333; 
  font-size: 14px;
}
.service__list dl {
  width: 150px;
  height: auto;
}
.service__list dl dt img {
  padding: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 60px;
  box-shadow: rgba(221, 221, 221, 0.5) 0px 2px 4px 0px;
}
.service__list.app dl dt img {
  padding: 0;
  width: 140px;
  height: 48px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 10px;
  box-shadow: rgba(221, 221, 221, 0.5) 0px 2px 4px 0px;
}
.service__list dl dd {
  text-align: center;
  width: 140px;
  padding: 10px;
}
.service__list li a:hover dl dt img {
  box-shadow: rgba(221, 221, 221, 0.7) 0px 4px 8px 0px;
}


@media screen and (max-width: 1023px) {
  .service__wrapper {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media screen and (max-width: 767px) {
  .service__container {
    height: auto;
  }
  .service__wrapper {
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__list.app dl dt img {
    padding: 0;
    width: 130px;
    height: 44px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-radius: 10px;
    box-shadow: rgba(221, 221, 221, 0.5) 0px 2px 4px 0px;
  }
}
